.navBarGradientLine{
    background: linear-gradient(90deg,#f66161,#ffa659);
    height: 4px;
    z-index: 998;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px
}